@model IEnumerable<EnvatoMarketplace.Models.CartItem>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Home/_Landing_Layout.cshtml";
}

<body>
    <div class="h-screen bg-gray-100 pt-20">
        <h1 class="mb-10 text-center text-2xl font-bold">Cart Items</h1>
        <div class="mx-auto max-w-5xl justify-center px-6 md:flex md:space-x-6 xl:px-0">
            <div class="rounded-lg md:w-2/3">
                @foreach (var item in Model)
                {
                    <div class="justify-between mb-6 rounded-lg bg-white p-6 shadow-md sm:flex sm:justify-start">
                        <img src="@Url.Content(item.Product.productPic)" alt="product-image" class="w-full rounded-lg h-24 bg-cover sm:w-40" />
                        <div class="sm:ml-4 sm:flex sm:w-full sm:justify-between">
                            <div class="mt-5 sm:mt-0">
                                <h2 class="text-lg font-bold text-gray-900">@item.pName</h2>
                                <p class="mt-1 text-sm text-gray-700">$@((int)item.pAmount)</p>
                                <p class="mt-1 text-xs text-gray-700">@item.pShortDesc</p>
                            </div>
                            <div class="mt-4 flex justify-between im sm:space-y-6 sm:mt-0 sm:block sm:space-x-6">
                                    <p class="font-bold text-center text-xs outline-none p-2.5 bg-gray-800 text-white rounded-2xl">@item.pBuyQty</p>
                                <div class="flex items-center border-gray-100">
                                    @*<span class="cursor-pointer rounded-l bg-gray-100 py-1 px-3.5 duration-100 hover:bg-purple-500 hover:text-purple-50"> - </span>*@
                                    @*<input class="h-8 w-8 border bg-white text-center text-xs outline-none" type="number" value="2" min="1" />*@
                                    @*<span class="cursor-pointer rounded-r bg-gray-100 py-1 px-3 duration-100 hover:bg-purple-500 hover:text-purple-50"> + </span>*@
                                </div>
                                <div class="flex items-center space-x-4">
                                    <p class="text-md font-bold">$@((int)(item.pAmount * item.pBuyQty))</p>
                                    @*<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-5 cursor-pointer duration-150 hover:text-red-500">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                    </svg>*@
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if(Model.Count() == 0)
            {
                <h3>No Item in your cart</h3>
            }
            </div>
            <!-- Sub total -->
            <div class="mt-6 h-full rounded-lg border bg-white p-6 shadow-md md:mt-0 md:w-1/3">
                <div class="mb-2 flex justify-between">
                    <p class="text-gray-700">Subtotal</p>
                    <p class="text-gray-700">$@(Model?.FirstOrDefault()?.Cart.totalAmount ?? 0)</p>
                </div>
                @*<div class="flex justify-between">
            <p class="text-gray-700">Shipping</p>
            <p class="text-gray-700">$4.99</p>
        </div>*@
                <hr class="my-4" />
                <div class="flex justify-between">
                    <p class="text-lg font-bold">Total</p>
                    <div class="">
                        <p class="mb-1 text-lg font-bold">$@(Model?.FirstOrDefault()?.Cart.totalAmount ?? 0) USD</p>
                        <p class="text-sm text-gray-700">including VAT</p>
                    </div>
                </div>
                @if (Model.Count() > 0)
                {
                    using (Html.BeginForm("Checkout", "Cart", new { id = Model?.FirstOrDefault().cid }, FormMethod.Post))
                    {
                        <div class="grid place-items-center">
                            <div class="grid w-[100%] grid-cols-2 gap-2 rounded-3xl bg-gray-100 p-1 mt-5">
                                <div>
                                    <input type="radio" name="PaymentType" id="Cash" value="Cash" class="peer hidden" checked />
                                    <label for="Cash" class="block cursor-pointer select-none rounded-3xl p-2 text-center peer-checked:bg-purple-600 peer-checked:font-bold peer-checked:text-white">Cash</label>
                                </div>

                                <div>
                                    <input type="radio" name="PaymentType" id="Card" value="Card" class="peer hidden" />
                                    <label for="Card" class="block cursor-pointer select-none rounded-3xl p-2 text-center peer-checked:bg-purple-600 peer-checked:font-bold peer-checked:text-white">Card</label>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="mt-6 w-full rounded-md bg-purple-500 py-1.5 font-medium text-purple-50 hover:bg-purple-600">Check out</button>
                    }
                }
            </div>
        </div>
    </div>
</body>
